<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.8" targetFramework="portable46-net451+win81" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.8" targetFramework="portable46-net451+win81" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.8" targetFramework="portable46-net451+win81" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.8" targetFramework="portable46-net451+win81" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.8" targetFramework="portable46-net451+win81" developmentDependency="true" />
  <package id="Syncfusion.Licensing" version="17.3.0.19" targetFramework="portable46-net451+win81" />
  <package id="Syncfusion.Xamarin.Core" version="17.3.0.19" targetFramework="portable46-net451+win81" />
  <package id="Syncfusion.Xamarin.SfNumericUpDown" version="17.3.0.19" targetFramework="portable46-net451+win81" />
  <package id="Xamarin.Forms" version="4.3.0.991221" targetFramework="portable46-net451+win81" />
</packages>