<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.3" targetFramework="portable46-net451+win81" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.3" targetFramework="portable46-net451+win81" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.3" targetFramework="portable46-net451+win81" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.3" targetFramework="portable46-net451+win81" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.3" targetFramework="portable46-net451+win81" />
  <package id="Syncfusion.Licensing" version="16.4.0.52" targetFramework="portable46-net451+win81" />
  <package id="Syncfusion.Xamarin.Core" version="16.4.0.52" targetFramework="portable46-net451+win81" />
  <package id="Syncfusion.Xamarin.SfNumericUpDown" version="16.4.0.52" targetFramework="portable46-net451+win81" />
  <package id="Xamarin.Forms" version="4.0.0.497661" targetFramework="portable46-net451+win81" />
</packages>