<?xml version="1.0" encoding="utf-8"?>

<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <PublishDir>bin\Release\net10.0-windows10.0.26100.0\win-x64\publish\</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>

        <!--Note  https://learn.microsoft.com/en-gb/dotnet/core/compatibility/sdk/8.0/rid-graph-->
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>

        <Platform>Any CPU</Platform>
        <Configuration>Release</Configuration>
        <TargetFramework>net10.0-windows10.0.26100.0</TargetFramework>

        <!--Needed because of https://github.com/dotnet/maui/issues/27215-->
        <UseMonoRuntime>false</UseMonoRuntime>
        
        <PublishSingleFile>false</PublishSingleFile>
        <PublishReadyToRun>false</PublishReadyToRun>
        <SelfContained>False</SelfContained>
        <PublishAppxPackage>true</PublishAppxPackage>

        <!-- 
        Relative path from the portable project.
        Note in VS this depends on the path to the solution on opening, possibly influenced by links.
        -->
        <AppxPackageDir>..\..\..\publish\</AppxPackageDir>
    </PropertyGroup>
</Project>